*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: url(./assets/cursor.cur), auto;
}

.ground[grass-type="grass1"] {
  background-image: url(./assets/grass1.png);
}

.ground[grass-type="grass2"] {
  background-image: url(./assets/grass2.png);
}

.ground[grass-type="grass3"] {
  background-image: url(./assets/grass3.png);
}

.ground[grass-type="grass4"] {
  background-image: url(./assets/grass4.png);
}

.ground[grass-type="grass5"] {
  background-image: url(./assets/grass5.png);
}

.ground[grass-type="grass6"] {
  background-image: url(./assets/grass6.png);
}

.ground[soil-type="soil1"] {
  background-image: url(./assets/soil1.png);
}

.ground[soil-type="soil2"] {
  background-image: url(./assets/soil2.png);
}

.ground[soil-type="soil3"] {
  background-image: url(./assets/soil3.png);
}

.ground[soil-type="soil4"] {
  background-image: url(./assets/soil4.png);
}

.ground[soil-type="soil5"] {
  background-image: url(./assets/soil5.png);
}

.stone {
  background-image: url(./assets/stone.jpg);
}

.tree.wood {
  background-image: url(./assets/wood.png);
}

.tree.leaves {
  background-image: url(./assets/leaves.png);
}

#main-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 32, 32);
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

#game-container {
  --columns: 30;
  --rows: 15;
  --gap: 0px;

  /* width: calc(1200px + ((var(--columns) - 1) * var(--gap)));
  height: calc(600px + ((var(--rows) - 1) * var(--gap))); */
  background-color: black;
  display: grid;
  grid-template-columns: repeat(30, 40px);
  grid-template-rows: repeat(15, 40px);
}

#tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
  /* width: 220px; */
  /* height: 60px; */
  gap: 2px;
}

#items {
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(3, 75px);
  gap: 20px;
}

.fraction {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 15;
  gap: var(--gap);
}

.fraction > *:hover {
  border: 2px solid white;
}

.sky {
  width: 100%;
  height: 100%;
  background-color: rgb(156, 233, 233);
}

.ground {
  width: 100%;
  height: 100%;
  --gap: 2px;
}

#tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
  width: 100px;
  height: 100px;
  background-image: url(./assets/box.png);
  background-size: cover;
}

#tools > * {
  width: 60px;
  height: 60px;
  background-color: rgb(68, 68, 68);
  border-radius: 10px;
}

#tools-container .tools {
  flex-grow: 1;
}

#axe {
  background-image: url(./assets/axe.png);
  background-size: cover;
}

#shovel {
  background-image: url(./assets/shovel.png);
  background-size: cover;
}

#pickaxe {
  background-image: url(./assets/pickaxe.png);
  background-size: cover;
}

#spyglass {
  background-image: url(./assets/spyglass.png);
  background-size: cover;
}
