.active {
  border: 1px solid rgb(255, 255, 255);
}

#items.items-active {
  display: grid;
  position: fixed;
  left: 10%;
  bottom: 50px;
}

.hide {
  display: none;
}

#items.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 15%;
  bottom: 200px;
}

#items.empty.hide {
  display: none;
}
