.active {
  border: 1px solid rgb(255, 255, 255);
}

#items.items-active {
  display: grid;
  left: 5%;
  bottom: 50px;
}

.hide {
  display: none;
}

#items.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

#items.empty.hide {
  display: none;
}

.highlightText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
